<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.giftorg.scheduler.mapper.ProjectMapper">
    <resultMap id="BaseResultMap" type="org.giftorg.scheduler.entity.Project">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="repoId" column="repo_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="fullName" column="full_name" jdbcType="VARCHAR"/>
        <result property="stars" column="stars" jdbcType="INTEGER"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="INTEGER"/>
        <result property="defaultBranch" column="default_branch" jdbcType="VARCHAR"/>
        <result property="readme" column="readme" jdbcType="VARCHAR"/>
        <result property="readmeCn" column="readme_cn" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR" typeHandler="org.giftorg.scheduler.entity.ListTypeHandler"/>
    </resultMap>

    <select id="selectOne" resultType="org.giftorg.scheduler.entity.Project" resultMap="BaseResultMap">
        select * from projects where id = #{id};
    </select>
    <select id="selectOneByRepoId" resultType="org.giftorg.scheduler.entity.Project" resultMap="BaseResultMap">
        select * from projects where repo_id = #{repoId};
    </select>
    <select id="selectList" resultType="org.giftorg.scheduler.entity.Project" resultMap="BaseResultMap">
        select * from projects;
    </select>
</mapper>
